<!--


<h1>{{ Store.Name }}</h1>

<img [src]="Store.Logo" *ngIf="HideLogo" />




<h3>{{ ClientName }}</h3>





<button class="btn btn-secondary" (click)="showORhide()">toggle</button>


<div class="alert alert-primary" role="alert" *ngIf="ShowDiv">
  Thanks {{ ClientName }} for purchasing from our store
</div>

-->



<table class="table">
  <thead>
    <tr>
      <th scope="col">Productnumber</th>
      <th scope="col">Name</th>
       <th scope="col">Img</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
       <th scope="col">count</th>
      <th scope="col">Buy</th>



    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let prd of ProductList , let i = index"
    [hidden]="prd.Quantity==0"
    [ngClass]="{'bg-info':prd.Quantity==1,'bg-warning':prd.Quantity>1}"


      >



      <td>{{i+1}}</td>
      <td>{{prd.Name | uppercase}}</td>
      <td><img [src]="prd.Img" class="img-fluid w-25"></td>
      <td>{{prd.Price | currency:'EGP'}}</td>
      <td>{{prd.Quantity}}</td>
      <td><input type="number" class="form-control" name="count" id="count" #itemsCount></td>
      <td><button class="btn btn-danger" (click)="updateTotalPrice(prd,itemsCount.value) ">Add To
          Cart</button>
      </td>



  </tbody>
</table>
<p>The time is {{purchaseDate | date:'longDate'}}</p>










