<section class="d-flex justify-content-center my-3">
  <label for="category" class="mt-1">Select Category : </label>
  <select id="category" name="category" class="form-control w-25 mx-2 " [(ngModel)]="selectedCategoryID">
    <option value="0">All</option>
    <option *ngFor="let cat of categoryList" [value]="cat.Id">{{cat.Name}}</option>


  </select>


</section>



<app-products [recievedCategoryID]="selectedCategoryID"
  (totalPriceEvent)="totalprice($event)"
  (cartItemEvent)="addnewCartItem($event)">
</app-products>



<h3>from parent {{totalPriceChanged}}</h3>

<table class="table m-2">
  <thead>
    <tr class="bg-dark text-light">
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
      <th scope="col">Count</th>
      <th scope="col">Total Price</th>

    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of cartList">
      <tr *ngIf="item.Count > 0">
        <td>{{item.product.Name}}</td>
        <td><img [src]="item.product.Img" class="w-25"></td>
        <td>{{item.product.Price}}</td>
        <td>{{item.Count}}</td>
        <td>{{ item.Count * item.product.Price }}</td>

      </tr>
    </ng-container>
  </tbody>
</table>
