<div class="row bg-secondary bg-opacity-25">
  <section class="container-fluid ">
    <div class="row">

      <aside class="  "><br>
        <h1 class="text-dark opacity-75   ">Top products</h1><br><br>

        <div class="callout ">
          <a
            href="https://www.booking.com/reviews/country/ae.html?aid=376381&label=bookings-naam-0U48THtFadjZBwJ4BHv4SgS267724713972%3Apl%3Ata%3Ap1%3Ap22%2C563%2C000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp1005390%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YV19IumoQ3O5HnTajxNh2ss&sid=d140edc6f2925d60e453aba149dffe78">
            United Arab Emirates</a><br>
          <strong>DAMAC Maison Distinction </strong>- “- Very friendly and welcoming staff and I would like to
          thanks Mrs.
          Grace and Mrs. Sumitra for there smoothie chick in and upgraded my room. - The location in waking
          distance to
          Dubai mall( approximately 15 min.). - the three bed rooms apartment very spacious and one of the room is
          master
          room, the hall apartment with balcony have very nice view on khalifah tower.”
        </div><br>

        <div class="callout">
          <a
            href="https://www.booking.com/reviews/country/au.html?aid=376381&label=bookings-naam-0U48THtFadjZBwJ4BHv4SgS267724713972%3Apl%3Ata%3Ap1%3Ap22%2C563%2C000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp1005390%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YV19IumoQ3O5HnTajxNh2ss&sid=d140edc6f2925d60e453aba149dffe78">Australia
          </a><br>
          <strong>Adina Apartment Hotel Sydney, Darling Harbour -</strong> “This Hotel was in a fantastic location
          either
          walking to the underground, bus or ferry. Staff was friendly especially Adrian who when we first checked
          in
          helped pointed to the food places. We opted to upgrade to the Darling Harbor view where we enjoyed all
          the
          happenings below before we went back home.”
        </div><br>

        <div class="callout">
          <a
            href="https://www.booking.com/reviews/country/br.html?aid=376381&label=bookings-naam-0U48THtFadjZBwJ4BHv4SgS267724713972%3Apl%3Ata%3Ap1%3Ap22%2C563%2C000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp1005390%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YV19IumoQ3O5HnTajxNh2ss&sid=d140edc6f2925d60e453aba149dffe78">Brazil</a>
          <br><strong>Pousada El Shaddai </strong> - “The staff, the location, the breakfast, the pool, the
          facilities”
          Canada
          Holiday Inn Lethbridge, an IHG Hotel - “good area to other restaurants and shopping”
        </div><br>


        <div class="callout">
          <a
            href="https://www.booking.com/reviews/country/de.html?aid=376381&label=bookings-naam-0U48THtFadjZBwJ4BHv4SgS267724713972%3Apl%3Ata%3Ap1%3Ap22%2C563%2C000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp1005390%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YV19IumoQ3O5HnTajxNh2ss&sid=d140edc6f2925d60e453aba149dffe78">Germany</a>
          <br><strong>Hotel Kipping</strong> Hotel Kipping - “Spacious, quiet, clean rooms. Location a couple
          blocks from
          the train station, with many places to eat. Easy access to transportation or walk into town - we did
          both.”
        </div><br>

        <div class="callout">
          <a
            href="https://www.booking.com/reviews/country/es.html?aid=376381&label=bookings-naam-0U48THtFadjZBwJ4BHv4SgS267724713972%3Apl%3Ata%3Ap1%3Ap22%2C563%2C000%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp1005390%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YV19IumoQ3O5HnTajxNh2ss&sid=d140edc6f2925d60e453aba149dffe78">Spain</a>
          <br> <strong>Áurea Catedral by Eurostars Hotel Company</strong> - “everything - the location, the
          cleanliness,
          the reception and the breakfast.”
          France
        </div><br>
      </aside>


